$primary-font: "Montserrat", sans-serif;
$secondary-font: "Poppins", sans-serif;
$primary-color: #2e2e2e;
$secondary-color: #3f3f3f;
$lighter-color: #b6b6b6;
$link-color:rgb(119, 15, 255);
$hover-color:#a41733;
$focus-color:rgb(44, 53, 46);
$spacing-unit: 16px;
