.pic-preview{
    min-width: 100px;
    min-height: 130px;
    width: 180px;
    height: 180px;
    

}
.box-hide{
    display: none;
}

.select2-container .select2-selection--single {
    height: 34px !important;
  }
  
  .select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
  }
  #alertModal{
    display: none;
  }
  #alertModal.open{
    
  }
  .pic-preview-box {
    background-repeat: no-repeat;
    background-size: cover;
    
    min-width: 100px;
    min-height: 130px;
    width: 180px;
    height: 180px;
    box-shadow: 0 0 5px rgb(189, 187, 187);
    margin: 0 auto;
    border-radius: 50%;
  }